html, body {
	margin		: 0;
	padding		: 0;
	min-width	: 500px;
	font-family	: verdana;
	font-size	: medium;
	color		: #333333;
}
.FirstRed {
	color		: #FF0000;
}
.content {
	position	: fixed;
	display		: block;
	width		: 100%;
	margin-top	: 2em;
}
.header-question {
	border-bottom	: 1px solid #eeeeee;
	padding-bottom	: 1em;
	color		: #555555;
}
.header-question:after {
	content		: '';
	display		: block;
	clear		: both;
}
.answer {
	top		: 8.5em;
	bottom		: 0px;
	overflow	: auto;
	padding		: 2% 0%;
}
.center-wrapper {
	position	: relative;
	display		: inline-block;
	float		: right;
	right		: 50%;
}
.center-content {
	position	: relative;
	display		: inline-block;
	max-width	: 600px;
	right		: -50%;
}
.templates {
	display		: none;
}
.menu-wrapper {
	position	: relative;
	display		: block;
	width		: 100%;
	padding		: 1em 0;
	text-align	: justify;
	white-space	: nowrap;
}
.menu-item {
	position	: relative;
	display		: inline-block;
	float		: left;
	text-align	: center;
	height		: 1em;
	padding		: 0.7em 0em;
	border-bottom	: 1px solid lightgray;
	border-top	: 1px solid lightgray;
	border-left	: 1px solid lightgray;
	border-right	: 1px solid lightgray;
-webkit-border-radius	: 1em 1em 0em 0em;
-moz-border-radius	: 1em 1em 0em 0em;
	border-radius	: 1em 1em 0em 0em;
	color		: gray;
	cursor		: pointer;
}
.placeholder {
	position	: relative;
	display		: inline-block;
	float		: left;
	width		: 5%;
	padding		: 0.7em 0em;
	height		: 1em;
	border-bottom	: 1px solid lightgray;
	border-top	: 1px solid transparent;
	border-left	: 1px solid transparent;
	border-right	: 1px solid transparent;
}
.active {
	border-bottom	: 1px solid transparent;
}
.choosen {
	cursor		: default;
}
.underlined {
	border-bottom	: 1px dashed gray;
}
.arrow {
	position	: fixed;
	display		: block;
	top		: 0px;
	bottom		: 0px;
	padding		: 25% 0.5em;
	color		: #EAEFF0;
	font-size	: large;
	z-index		: 10;
}
.arrow:hover {
	cursor		: pointer;
	color		: #0000dd;
	background-color: lightgray;
	filter		: alpha(opacity=50);
	opacity		: 0.5;
}
.left-arrow {
	left		: 0%;
}
.right-arrow {
	right		: 0%;
}
.undermenu-item {
	padding		: 1em;
	border-bottom	: 1px solid #ededed;
}
.local {
	text-decoration	: none;
	border-bottom	: 1px dashed lightgray;
	color		: #555555;
}
.local:hover {
	border-bottom	: 1px dashed #3CA0B8;
	color		: #3CA0B8;
}
.undermenu {
	top		: 3em;
	bottom		: 0px;
	overflow	: auto;
}